@import "./Global.css";

.nav__navbar {
  background: white;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 1px 1px 5px #c9c9ce;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

/* .container {
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
} */

.navbar-logo {
  color: var(--primary);
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.__full-logo {
  margin-top: 15px;
}

.navbar-icon {
  margin-right: 0.5rem;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  justify-content: flex-start;
}

.nav-item {
  height: 80px;
  border-bottom: 2px solid transparent;
}

.nav-item:hover {
  border-bottom: 2px solid var(--secondary);
}

.nav-links {
  color: var(--primary);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  color: var(--topsetPink);
  /* transform: scale(1.1); */
  transition: all 0.3s ease;
}

.fa-bars {
  color: #341a64;
}

.menu-icon {
  display: none;
}

.__daily-goal {
  margin-top: 10px;
  display: flex;
  /* align-items: center;
  justify-content: center; */
}

.__stats {
  margin-top: 5px;
  margin-right: 10px;
}

.__user-stats {
  display: flex;
  align-items: center;
  justify-content: center;
}

.__streak {
  width: 80px;
  height: 50px;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  margin-right: 10px;
}

.__profile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  cursor: pointer;
}

.__profile-item {
  padding-left: 20px;
}

.__username {
  font-family: Poppins;
  font-weight: 600 !important;
  font-size: var(--purpleMedium) !important;
  margin-left: 2px;
}

.dropdown-content {
  display: none;
  padding: 20px;
  border-radius: 8px;
  position: absolute;
  background-color: white;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 5;
  right: -10px;
  margin-top: 0px;
  text-align: left;
  transition: 0s display;
}

.__user-avatar {
  display: flex;
}

.__user-avatar-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.__profile-item {
  margin-left: -20px;
}

.__dropdown-divider {
  border-top: 1px solid var(--purpleLight);
  margin-top: 15px;
  margin-bottom: 10px;
  max-width: 1100px;
}

.__dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content:hover .dropdown-content {
  display: block;
}

.__showDropdown {
  display: block;
}

@media screen and (max-width: 1023px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: white;
    left: 0;
    opacity: 1;
    transition: all 0.6s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    color: var(--secondary);
    transform: scale(1.2);
    transition: all 0.3s ease;
  }

  .nav-item:hover {
    border: none;
  }

  .nav-item {
    width: 100%;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(60%, 25%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(20%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #1c2237;
  }

  .fa-times {
    color: #1c2237;
    font-size: 2rem;
  }

  .nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
  }

  .__daily-goal {
    margin-top: 0px;
  }

  .__stats {
    margin-top: 0px;
  }
}
