.loding-screen-main-contaner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-screen-animation-div {
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
}
